* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Stolzl';
  src: url(../css/Stolzl/stolzl_regular.otf) format('opentype');
}
.container-fluid {
  --bs-gutter-x: 0rem;
  padding-right: 0;
  padding-left: 0;
}
body {
  font-family: 'Stolzl';
  color: #2d3132;
}

.breadcrumbs-main {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #2d3132;
}
.breadcrumbs-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #747778;
}
.breadcrumb-item {
  margin: 35px 0;
}
p {
  margin-bottom: 2rem;
}
.main-name {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #2d3132;
}

.footer-top {
  padding: 72px 0px;
  border-bottom: 1px solid #c4c7c7;
}
.p-5 {
  padding: 5em !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
footer {
  background: #eff1f1;
}
.footer-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2d3132;
}
a {
  text-decoration: none;
}
.empty {
  width: 312px;
}
.copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.btn-light {
  background: #eff1f1;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #444748;
  padding: 10px 20px;
}
.google-play {
  width: 145.89px;
  height: 44px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .container {
    padding: 0 30px;
  }
  .problem {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 0;
  }
  .enclose {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    height: 44px;
    left: 1px;
    z-index: 1000;
  }
  .brand {
    display: none;
  }
  .openbtn {
    display: block;
  }
  #aside-destop {
    display: none;
  }
  .top-header {
    font-size: 12px;
    line-height: 190%;
  }
  .card-title {
    font-size: 18px;
  }
  form {
    flex-direction: column;
  }
  .form-select {
    padding: 0;
  }
  .author-text,
  .sell_for_men,
  .brandear,
  .alex,
  .sellbuy,
  .sofia,
  .location,
  .old-price,
  .new-price {
    font-size: 14px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .pagination {
    margin: 36px 20% 52px;
  }
  .page-link {
    border-radius: 60%;
    font-weight: 500;
    font-size: 7px;
    line-height: 150%;
  }
  .select {
    width: 20%;
    border: none;
    margin: 0 auto;
    height: 25px;
    margin-left: 30px;
  }
  .btn-dark {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 45%;
    padding: 10px 20px;
    margin-left: 0px;
  }
  .page-link-next {
    font-weight: 400;
    font-size: 6px;
    line-height: 150%;
    padding: 7px 13px;
    border: 1px solid #5c5f60;
    border-radius: 50px;
  }
  .btn-default {
    margin-bottom: 30px;
  }
  .card {
    padding: 24px;
  }
  .navbar-brand {
    width: 53%;
  }
  .catalog {
    text-decoration: underline;
    text-underline-offset: 0;
  }
  .nav-pills::before {
    width: 0;
    content: '';
  }
  .input-group {
    margin-top: 20px;
    width: 85vw;
  }
  .btn-dark {
    margin: 20px 0;
    width: 84vw;
  }
  input::placeholder {
    font-size: 12px;
  }

  #nav-destop {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  #navbarSupportedContent {
    width: 87%;
  }
  .page-link,
  .page-item.active {
    display: none;
  }
  .nav-item-container {
    margin: 0;
  }
  .openbtn {
    padding: 12px 15px;
    font-size: 15px;
  }
  .filter {
    display: flex;
    flex-direction: column;
  }
  .default {
    padding: 15px 5px;
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .openbtn {
    display: block;
  }
  .problem {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 0;
  }
  .enclose {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    height: 44px;
    left: 1px;
    z-index: 1000;
  }
  .brand {
    display: none;
  }
  #aside-destop {
    display: none;
  }
  .empty {
    width: 185px;
  }
  .btn-dark {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    width: 45%;
    padding: 6px 15px;
    margin-left: 0px;
  }
  .card-title {
    font-size: 8px;
  }
  .author-text,
  .sell_for_men,
  .brandear,
  .alex,
  .sellbuy,
  .sofia,
  .location,
  .old-price,
  .new-price {
    font-size: 8px;
  }
  .form-select {
    width: 14%;
    border: none;
    margin: 0 auto;
  }
  .select {
    height: 40px;
  }
  a.nav-link.dropdown-toggle::after {
    display: none;
  }
  .default {
    width: 63%;
  }
  .card {
    padding: 16px;
  }
  .navbar-brand {
    width: 53%;
  }
  .catalog {
    text-decoration: underline;
    text-underline-offset: 0;
  }
  .input-group {
    width: 100vw;
  }
  .nav-pills::before {
    width: 0;
    content: '';
  }
  #nav-destop {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  #navbarSupportedContent {
    width: 87%;
  }
  .nav-item-container {
    margin: 0 7%;
  }
  .openbtn {
    padding: 12px 15px;
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .openbtn {
    display: block;
  }
  .problem {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 0;
  }
  .enclose {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    height: 44px;
    left: 1px;
    z-index: 1000;
  }
  .brand {
    display: none;
  }
  #aside-destop {
    display: none;
  }
  .btn-dark {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    width: 45%;
    padding: 6px 15px;
    margin-left: 0px;
  }
  .openbtn {
    padding: 12px 15px;
    font-size: 20px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    font-size: 8px;
  }
  .author-text,
  .sell_for_men,
  .brandear,
  .alex,
  .sellbuy,
  .sofia {
    font-size: 11px;
  }
  .empty {
    width: 25vw;
  }
  .input-group {
    width: 90vw;
  }
  .form-select {
    width: 11%;
    border: none;
    margin: 0 auto;
  }
  .select {
    height: 38px;
  }
  a.nav-link.dropdown-toggle::after {
    display: none;
  }
  .default {
    width: 63%;
  }
  #aside-destop {
    width: 100%;
  }
  #cards {
    width: 100%;
  }
  .navbar-brand {
    width: 25%;
  }
  .catalog {
    text-decoration: underline;
    text-underline-offset: 0;
  }
  .nav-pills::before {
    width: 0;
    content: '';
  }
  #nav-destop {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  #navbarSupportedContent {
    width: 87%;
  }
  .nav-item-container {
    margin: 0 7%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .card-title {
    font-size: 9px;
  }
  .btn-dark {
    padding: 5px 5px;
    margin-left: 6px;
  }
  .navbar-brand {
    width: 14%;
  }
  .input-group {
    width: 37vw;
  }
  aside .accordion-item {
    width: 100%;
  }
  .form-select {
    width: 9%;
  }
  aside {
    margin-bottom: 30px;
    margin-right: 10px;
  }
  .empty {
    width: 17vw;
  }
  .navbar-expand-lg .navbar-collapse {
    display: none;
  }
  .default {
    width: 63%;
  }
  .accordion-body {
    padding: 0 10px;
  }
  .ui-slider-horizontal {
    width: 100%;
  }
  #aside-destop {
    width: 25%;
  }
  #cards {
    width: 78%;
  }
  .nav-pills::before {
    width: 113%;
    content: '';
  }
  #navbarSupportedContent {
    display: none !important;
  }
}

@media (min-width: 1201px) and (max-width: 1399px) {
  .btn-dark {
    padding: 5px 8px;
    margin-left: 6px;
  }
  .input-group {
    width: 50vw;
  }
  .navbar-brand {
    width: 12%;
  }
  .nav-pills::before {
    width: 136%;
    content: '';
  }
  .form-select {
    width: 7%;
  }
  .default {
    width: 63%;
  }
  .navbar-expand-lg .navbar-collapse {
    display: none;
  }
  #navbarSupportedContent {
    display: none !important;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .navbar-expand-lg .navbar-collapse {
    display: none;
  }
  #navbarSupportedContent {
    display: none !important;
  }
}
